SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/iaassessment?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
SPRING_DATASOURCE_USERNAME=iauser
SPRING_DATASOURCE_PASSWORD=iapass
APP_JWT_SECRET=
APP_JWT_EXPIRATION_MS=
NEXT_PUBLIC_API_URL=http://localhost:8080
