SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/iaassessment?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
SPRING_DATASOURCE_USERNAME=iauser
SPRING_DATASOURCE_PASSWORD=iapass
APP_JWT_SECRET=VGhpcy1pcy1hLWRlbW8tc2VjcmV0LWZvci1qd3QtY29udmVyc2lvbi1iYXNlNjQxMjM0NTY3ODkwMTI3ODkwMTI3ODk=
APP_JWT_EXPIRATION_MS=86400000
